
@model Minesweeper_ArinPatrick.Models.UserModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<h3>User Registration</h3>
<style>
    body {
        background-color: #46A346;
    }

    .sideImage{
        float:right;
        height: 500px;
        width:700px;
        padding:40px 0px 0px 0px

    }
</style>
<img class="sideImage" src="~/img/tyler.png">
<hr />

@*Html.BeginForm is the Html Helper Extension Method that is used for creating and rendering
    the form in HTML. This method makes your job easier in creating form.
    Syntax: Html.BeginForm("ActionMethod", "ControllerName","Get⁄Post Method")
    ActionMethod – It defines which action method is look for when submit button is clicked.
    ControllerName – It defines, which controller keeps the defined action method.
    Get/Post Method – it defines the method you want to use to send data from form to controller. *@
@using (Html.BeginForm("Create", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class=" = " col-md-4">
            @*(Tag Helpers) -- ValidationSummary.All will display both property and model level
        validations messages while ValidationSummary.ModelOnly will
        display only validation messages that apply to the model level.*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="First" class="control-label"></label>
                @*The input Tag Helper binds an HTML <input> element to a mdel expression in the
            razor view.  Is equivalent to model=>model.Name -- the name of the expression is used
            for the asp-for attribute.*@
                <input asp-for="First" class="form-control" />
                @*The validation message tag helper is used to display a validation
            message for a specific property of your model class.  In this
            case "The Name field is required" will be shown if the field
            is submitted blank.*@
                <span asp-validation-for="First" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Last" class="control-label"></label>
                <input asp-for="Last" class="form-control" />
                <span asp-validation-for="Last" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="">-- Select Gender --</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>

            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-warning" />
            </div>

        </div>
    </div>
}
@*Come down after the current final div*@
<div>
    <a asp-action="Index">Back to List</a>
</div>

@*Used for "client side validation" (javascript).
    It does not let the user send the form if it is not valid
    (according to Model Validation).*@
@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
