@{
    ViewData["Title"] = "Home Page";
}

<style>

    .background {
        background-color: lightblue;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
    }

    .backgroundflames {
        
        height: 800px;
        width: 1100px;
        align-content: center;
        float:left;
        
    }

    .profilepics {
        height: 400px;
        width: 300px;
    }

</style>

<body class="background">
<div class="container">
<img class="backgroundflames" src="~/img/unvisitedcell.png">
<div class="centered">
    <img class="profilepics" src="~/img/arins.png">
    <img class="profilepics" src="~/img/patty.png">
    <br/>

    The C-Sharpest tools in the Shed is composed of two web developers Arin Aihara and <br/> Patrick Ulmer.
    In this application we have created a Tyler the Creator themed minesweeper<br/> game. Why you ask?
    We dont know either. Just enjoy :)
</div>
   </div>
</body>
