USE [master]
GO
/****** Object:  Database [dbMinesweeper]    Script Date: 3/15/2021 5:07:53 PM ******/
CREATE DATABASE [dbMinesweeper]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbMinesweeperUser', FILENAME = N'C:\Users\snipa\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\dbMinesweeperUser.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbMinesweeperUser_log', FILENAME = N'C:\Users\snipa\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\dbMinesweeperUser.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbMinesweeper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbMinesweeper]
GO
USE [dbMinesweeper]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/15/2021 5:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[First] [nvarchar](25) NULL,
	[Last] [nvarchar](25) NULL,
	[Gender] [nvarchar](25) NULL,
	[Age] [int] NULL,
	[State] [nvarchar](2) NULL,
	[Email] [nvarchar](50) NULL,
	[Username] [nvarchar](25) NULL,
	[Password] [nvarchar](25) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteUser]    Script Date: 3/15/2021 5:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DeleteUser]
	@UserID int
AS
BEGIN
	DELETE FROM Users WHERE UserID=@UserID
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllUsers]    Script Date: 3/15/2021 5:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetAllUsers]
AS
BEGIN
	SELECT * FROM Users
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetByUserAndPass]    Script Date: 3/15/2021 5:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetByUserAndPass]
	@Username nvarchar(25),
	@Password nvarchar(25)
AS
BEGIN
	SELECT * FROM Users WHERE Username=@Username AND Password=@Password
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUserByID]    Script Date: 3/15/2021 5:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetUserByID]
	@UserID int
AS
BEGIN
	SELECT * FROM Users WHERE UserID = @UserID
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertUser]    Script Date: 3/15/2021 5:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsertUser]
	@First nvarchar(25) = '',
	@Last nvarchar(25) = '',
	@Gender nvarchar(25) = '',
	@Age int = 0,
	@State nvarchar(25) = '',
	@Email nvarchar(50) = '',
	@Username nvarchar(25) = '',
	@Password nvarchar(25) = ''
AS
BEGIN
	INSERT INTO Users (First, Last, Gender, Age, State, Email, Username, Password)
	Values (@First, @Last, @Gender, @Age, @State, @Email, @Username, @Password)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateUser]    Script Date: 3/15/2021 5:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateUser]
	@UserID int = 0,
	@First nvarchar(25) = '',
	@Last nvarchar(25) = '',
	@Gender nvarchar(25) = '',
	@Age int = 0,
	@State nvarchar(25) = '',
	@Email nvarchar(50) = '',
	@Username nvarchar(25) = '',
	@Password nvarchar(25) = ''
AS
BEGIN
	UPDATE Users SET First=@First, Last=@Last, Gender=@Gender, Age=@Age,
	State=@State, Email=@Email, Username=@Username, Password=@Password
	WHERE UserID=@UserID
END
GO
USE [master]
GO
