@model IEnumerable<Minesweeper_ArinPatrick.Models.Cell>
<style>
        .game-button {
            width: 75px;
        }

        .game-button-image {
            width: 60px;
        }

        .button-zone {
            display: flex;
            flex-wrap: wrap;
        }

        .line-break {
            flex-basis: 100%;
            height: 0;
        }

        .button-label {
            font-size: 8px;
            text-align: center;
        }
    </style>      

@{ 
    string[] imagenames = {"0.png", "1.png", "2.png", "3.png", "4.png",
        "5.png", "6.png", "7.png","8.png","Bomb.jpg","Flag.jpg", "unvisitedcell.png"};
}

<form>
    <div>
        @for (int i = 0; i < Model.Count(); i++)
        {
            int dimension = (int)Math.Sqrt(Model.Count());
            int row = i / Model.Count();
            int col = i % Model.Count();

            // Start a new line
            if(i % dimension == 0)
            {
                <div class="line-break"></div>
            }
            <button class="game-button" type="submit" value="@row, @col"
                    name="buttonNum" asp-controller="Minesweeper" asp-action="HandleCellClick">
                @if(Model.ElementAt(i).Visited == true)
                {
                    if (Model.ElementAt(i).Live == false)
                    {
                        <img class="game-button-image" src="~/img/@imagenames[Model.ElementAt(i).LiveNeighbors]" />
                    }
                    else if (Model.ElementAt(i).Live == true)
                    {
                        <img class="game-button-image" src="~/img/Bomb.jpg" />
                    }
                }
                else
                {
                    <img class="game-button-image" src="~/img/unvisitedcell.png" />
                }
            </button>
        }
        </div>
</form>

