@model IEnumerable<Minesweeper_ArinPatrick.Models.Cell>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<style>
        .game-button {
            width: 75px;
        }

        .game-button-image {
            width: 60px;
        }

        .button-zone {
            display: flex;
            flex-wrap: wrap;
        }

        .line-break {
            flex-basis: 100%;
            height: 0;
        }

        .button-label {
            font-size: 8px;
            text-align: center;
        }
    </style>

    <script>
        //when the document loads, the context menu will be set to false
        $(document).ready(function () {
            $(document).contextmenu(function () {
                return false;
            });

            //on our game cell object, we are doing a mouse down event. in my case it was 3, might be 2 for others
            $('.game-cell').mousedown(function (event) {
                if (event.which == 3) {
                    console.log("event right click three");
                    console.log(this);
                    console.log(this.getAttribute("value"));

                    //send information to controller
                    //URL, data and a callback
                    $.post("@Url.Action("OnRightButtonClick","Minesweeper")", {location :this.getAttribute("value")}, function (data) {
                        console.log(data)
                        //refresh entire page
                        $("body").html(data);
                    });
                }
            });
        });
    </script>     
       
@{ 
    string[] imagenames = {"0.png", "1.png", "2.png", "3.png", "4.png",
        "5.png", "6.png", "7.png","8.png","Bomb.jpg","Flag.jpg", "unvisitedcell.png"};
}

<form>
    <div class="button-zone">
        @for (int i = 0; i < Model.Count(); i++)
        {
            int dimension = (int)Math.Sqrt(Model.Count());
            int row = i / dimension;
            int col = i % dimension;

            // Start a new line
            if (i % dimension == 0)
            {
                <div class="line-break"></div>
            }
            <div class="oneCell" id="@i">
                <button class="game-cell" type="submit" value="@row,@col"
                        name="location" asp-controller="Minesweeper" asp-action="HandleCellClick">

                    @if (Model.ElementAt(i).Flagged == true)
                    {
                    <img class="game-button-image" src="~/img/Flag.jpg">
                    }

                    else if(Model.ElementAt(i).Visited == true)
                    {
                        if (Model.ElementAt(i).Live == false)
                        {
                            <img class="game-button-image" src="~/img/@imagenames[Model.ElementAt(i).LiveNeighbors]" />
                        }
                        else if (Model.ElementAt(i).Live == true)
                        {
                            <img class="game-button-image" src="~/img/Bomb.jpg" />

                        }
                    }
                    else
                    {
                        <img class="game-button-image" src="~/img/unvisitedcell.png" />
                    }
                </button>
            </div>
        }
    </div>
    <div id="gameOver">
        <p>Is it over yet?</p>
    </div>
</form>

